@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div id="about" class="container col-xs-1 text-left">
    <h1>About Crawlerfy</h1>
    <p>
        Lorem ipsum dolor sit amet, eum exerci libris suscipiantur ex, hinc adolescens temporibus ex ius. Eu iusto euismod habemus est. Solum atqui utinam nec ex. Lorem deseruisse pro te, vis alii laudem indoctum ne, eu prompta oportere pro.
    </p>
    <h2>How to Use</h2>
    <p>
        Lorem ipsum dolor sit amet, eum exerci libris suscipiantur ex, hinc adolescens temporibus ex ius. Eu iusto euismod habemus est. Solum atqui utinam nec ex. Lorem deseruisse pro te, vis alii laudem indoctum ne, eu prompta oportere pro.
    </p>
    <h4>Website URL</h4>
    <p>
        Lorem ipsum dolor sit amet, eum exerci libris suscipiantur ex, hinc adolescens temporibus ex ius. Eu iusto euismod habemus est. Solum atqui utinam nec ex. Lorem deseruisse pro te, vis alii laudem indoctum ne, eu prompta oportere pro.
    </p>
    <h4>Keyword (optional)</h4>
    <p>
        Lorem ipsum dolor sit amet, eum exerci libris suscipiantur ex, hinc adolescens temporibus ex ius. Eu iusto euismod habemus est. Solum atqui utinam nec ex. Lorem deseruisse pro te, vis alii laudem indoctum ne, eu prompta oportere pro.
    </p>
    <h4>Crawl methods and limits</h4>
</div>
